@tailwind base;
@tailwind components;
@tailwind utilities;

: root {
  --background: #f0f8ff; /* bluish white for light */
  --foreground: #000000;
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
} 